<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'Ethan Russell' }}</h1>
      <div class="actions">
        <a
          [ngClass]="routeAnimationsElements"
          mat-raised-button
          class="actions-main"
          color="primary"
          routerLink="../about"
        >
          {{ 'About' }}
        </a>
        <a
          mat-raised-button
          class="actions-main"
          color="accent"
          routerLink="../add-memory"
          [ngClass]="routeAnimationsElements"
        >
          {{ 'Add Memory' }}
        </a>
        <a
          mat-raised-button
          class="actions-main"
          color="warn"
          routerLink="../view-memories"
          [ngClass]="routeAnimationsElements"
        >
          {{ 'View Memory' }}
        </a>
        <a
          mat-raised-button
          class="actions-main"
          color=""
          routerLink="../contact"
          [ngClass]="routeAnimationsElements"
        >
          {{ 'Contact' }}
        </a>
        <br />
        <span [ngClass]="routeAnimationsElements">{{
          'Here are some blogs about what was used to create my site'
        }}</span>
        <br />
        <a
          mat-raised-button
          [ngClass]="routeAnimationsElements"
          target="_blank"
          href="https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1"
        >
          <i class="fab fa-medium-m"></i> Material Theming
        </a>
        <a
          mat-raised-button
          [ngClass]="routeAnimationsElements"
          target="_blank"
          href="https://medium.com/@tomastrajan/6-best-practices-pro-tips-for-angular-cli-better-developer-experience-7b328bc9db81"
        >
          <i class="fab fa-medium-m"></i> Angular Cli Tips
        </a>
        <a
          mat-raised-button
          [ngClass]="routeAnimationsElements"
          target="_blank"
          href="https://medium.com/@tomastrajan/object-assign-vs-object-spread-in-angular-ngrx-reducers-3d62ecb4a4b0"
        >
          <i class="fab fa-medium-m"></i> Ngrx Typescript Tips
        </a>
        <a
          mat-raised-button
          [ngClass]="routeAnimationsElements"
          target="_blank"
          href="https://medium.com/@tomastrajan/how-to-style-angular-application-loading-with-angular-cli-like-a-boss-cdd4f5358554"
        >
          <i class="fab fa-medium-m"></i> App Loading Style
        </a>
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        <h2 data-testid="get-started">{{ 'GET STARTED' }}</h2>
        <code
          >git clone https://github.com/erussell607/ethanrussell.git
          new-project</code
        ><br />
        <code>cd new-project</code><br />
        <code>npm install</code><br />
        <code>npm start</code>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="follow-releases" [ngClass]="routeAnimationsElements">
    <h2>{{ 'Merry Christmas' }}</h2>
    <h5>Follow my puppies </h5>
    <p>
        <i class="fas fa-dog"></i>
      <a
        href="https://www.instagram.com/zuri_the_golden_retriever/"
        target="_blank"
      >
        @Zuri</a
      >
      <br>
      <i class="fas fa-dog"></i>
      <a href="https://www.instagram.com/decker_baby_golden/" target="_blank"
        >@Decker</a
      >
    </p>

    <img [src]="releaseButler" alt="Release Butler tweet example" />
  </div>
</div>
